.header{
    text-align: center;
     background: #5a52ef;
     width: 100vw;
     height:15vh;
     color:white;
}
.mainbody{
    display: flex;
    justify-content: center;
}
.contactinformation{
    
    width:700px;
    margin:25px;
     border-radius: 8px; 
    padding:20px;
    background-color: #ffffff; /* box color */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
button{
background: #5a52ef;
color: white;
border-radius: 10px;
padding: 10px;
}