
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
  color: #1f2937;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: #4f46e5;
  color: white;
}

.navbar h1 {
  font-size: 1.8rem;
}

.nav-links .nav-btn {
  margin-left: 15px;
  padding: 8px 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.login-btn {
    background-color: #facc15;
 color: #1f2937;
}

.login-btn:hover {
  background-color: #e0e7ff;
}

.register-btn {
  background-color: #facc15;
  color: #1f2937;
}

.register-btn:hover {
  background-color: #eab308;
}

.portal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
}

.portal-title {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #1f2937;
}


.portal-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}


.portal-card {
  background: white;
  padding: 30px 25px;
  width: 280px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.portal-card:hover {
 
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.portal-card h3 {
  color: #4f46e5;
  margin-bottom: 15px;
}

.portal-card p {
  color: #4b5563;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

.portal-btn {
  padding: 10px 20px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.portal-btn:hover {
  background: #4338ca;
}


.student-card { border-top: 5px solid #34d399; } 
.company-card { border-top: 5px solid #fbbf24; } 
.admin-card { border-top: 5px solid #f87171; } 
